@{
    ViewBag.Title = "How Happy Paws Came To Be";
}

    <div>
        <h2 style="text-align:center; padding:3%;">@ViewBag.Title</h2>
        <img padding-top="20px" width="100%" alt="Photo by Helena Lopes on Unsplash" src="~/Content/Images/helena-lopes-Pw8lvbh3-eA-unsplash.jpg"
    </div>

    <p style="padding: 3% .5%; font-size: 20px; ">Happy Paws started over 15 years ago in Madison, WI. The owner of the first Happy Paws was fed up with lousy and often times harmful materials being used to create the toys her dog played with. To solve this problem, the CEO went out and made toys that were long lasting and made of ethical materials. Thanks to her determination, your dog can also enjoy a harmless fun dog toy!</p>

<div class="row" style="background-color: lightgrey;" >
    <h2 style="text-align:center; padding-top:1%;">What Our Customers Have To Say</h2>
    <div class="col-md-4">
        <br />
        <p style="font-size: 19px;">
            <i> Sharon from Oklahoma - "Happy Paws has given met the peace of mind that the toy my dog is playing with isn't stuffed with recycled material from who knows where!"</i>
        </p>
    </div>
    <div class="col-md-4"">
        <br />
        <p style="font-size: 19px;">
            <i> Ben from Wisconsin - "This is the only place I order my dog toys. I love the durable material, especially since my dog rips apart toys like he is trying to set a record! "</i>
        </p>
    </div>
    <div class="col-md-4">
        <br />
        <p style="font-size: 19px;">
            <i> Olivia from New York - "I love that Happy Paws is trying to make sure dogs arent chewing on horrible material. I feel more at ease when my dog is playing with his toys. For that I will support them and continue to be a customer!"</i>
        </p>
    </div>
</div>


