@{
    ViewBag.Title = "Let's Chat";
}
<h1 style="padding:1%; text-align:center; padding-right: 15%;">@ViewBag.Title</h1>

<div class="row" style="text-align:center;">
    <div class="col-md-5" style=" margin: 1%; border:1px solid lightgrey;">
        <h1><img src="~/Content/Images/PawPrints.png" height="6%" width="6%" /> Madison, WI</h1>
        <address >
            146 Barking Way<br />
            Madison, WI 53715<br />
            (608)111-1111
        </address>
    </div>
    <div class="col-md-5" style="border:1px solid lightgrey; lightgrey; margin: 1%;" >
        <h1><img src="~/Content/Images/PawPrints.png" height="6%" width="6%" /> Manitowoc, WI</h1>
        <address>
            268 Woof Road<br />
            Manitowoc, WI 54220<br />
            (920)222-2222
        </address>
    </div>
</div>
<div class="row" style="text-align:center;">
    <div class="col-md-5" style="border:1px solid lightgrey; margin: 1%;">
        <h1><img src="~/Content/Images/PawPrints.png" height="6%" width="6%" /> Customer Service:</h1>
        <address>
            barkatus@gmail.com<br />
            (920)333-3333
        </address>
    </div>
    <div class="col-md-5" style="border:1px solid lightgrey; margin: 1%">        
        <h1><img src="~/Content/Images/PawPrints.png" height="6%" width="6%" /> Quality Assurance:</h1>
        <address>
            quality@gmail.com<br />
            (608)444-4444
        </address>
    </div>
</div>
