@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid" >
    <div class="container">
        
        <h1><img height="45%" width="45%" src="~/Content/Images/Logo.png" /></h1>

    </div>
</div>

<div class="row">
    <div class="col-md-4" >
        <h2><img src="~/Content/Images/PawPrint.png" height="10%" width="10%"/>Your Pet In Mind</h2>
        <p>
            Here at Happy Paws, we take your dogs happiness seriously. There will only be the best toys for your dog to play with. That's the Happy Paws promise!'
        </p>
    </div>
    <div class="col-md-4" >
        <h2><img src="~/Content/Images/PawPrint.png" height="10%" width="10%" />Only The Best Materials</h2>
        <p>We carefully vet the companies we partner with to bring you only the best materials. No cotton stuffings or harmful plastics.</p>
    </div>
    <div class="col-md-4">
        <h2><img src="~/Content/Images/PawPrint.png" height="10%" width="10%" />Durable, Made To Last</h2>
        <p>Each toy goes through a thorough process of ensuring quality. Only the best for the best.</p>
    </div>
</div>